<div class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
          <h1>Edit Your Pin</h1>
      </div>
      <div class="panel-body">
        <strong class="center">
          Current Image
          <br>
          <%= image_tag @pin.image.url(:medium)%>
        </strong>
        <%= render "form"%>
      </div>
    </div>
  </div>
</div>
